:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', 'cursive', 'Lexend Deca', sans-serif;
}

.card{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}



.Sedans{
    background-color: var(--Bright-orange);
    width: 20%;
    height: 400px;
}

.Sedans div{
    padding: 25px;
}


.Suvs{
    background-color: var(--Dark-cyan);
    width: 20%;
    height: 400px;
}

.Suvs div{
    padding: 25px;
}



.Luxury{
    background-color: var(--Very-dark-cyan);
    width: 20%;
    height: 400px;
}

.Luxury div{
    padding: 25px;
}


.btn{
    width: 100px;
        height: 27px;
        border-radius: 10px;
        background-color: var(--Very-light-gray);
        text-align: center;
        justify-content: center;
        padding: 3Px;
        border: none;
        margin: 90px 0 0 0;

}

.white{
    color: white;
}
.size{
    font-size: 15px;
    height: 80px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




@media(max-width:375px){
    .scrn{
        display: block;
        width:fit-content;
        background-color:beige;
    }
}
 